@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:ital,wght@0,500;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Crete Round", serif;
  font-weight: 600;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  background-color: #fff;
  padding: 50px 60px;
  border-radius: 14px;
  width: 40%;
}
.join {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.call-options {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.call-btn {
  background-color: #0d9676;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.call-btn:hover {
  background-color: #fff;
  border: 2px solid #0d9676;
  color: #0d9676;
}
@media screen and (max-width: 1000px) {
  .main-container {
    width: 70%;
  }
}
