<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/styles/global.css">
    <link rel="stylesheet" href="/static/styles/about.css">
    <title>SyncVision | About Us</title>
</head>

  <body>
    <header>
      <div class="container">
        <nav>
          <a href="/">Syncvision</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <section class="project_about">
          <h2>About The Project</h2>

          <p>This project is a requirement for completing our software engineering program at <a target="_blank" href="https://www.alxafrica.com/" class="proj_name">Alx Africa</a>. Much thanks to <a target="_blank" href="https://www.alxafrica.com/" class="proj_name">Alx Africa</a> for this opportunity</p>

          <h3 class="tech">The Technologies</h3>

          <p>
            The project <span class="proj_name">Syncvison</span> is a web application that connects user on the internet, enabling real time communication between them. The application Implements this real time communication, using web technologies:
          </p>

          <ul >
            <li>webSockets</li>
            <li>webRTC</li>
          </ul>
          <p>
            The above technologies enables the core of the application; real time communication, while the following technologies handled the other parts of the application, bringing it to life:
          </p>

          <ul>
            Other technologies used:
            <li>Python Flask</li>
            <li>Python FlaskSocketIO</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>

          <h3 class="motiv">Our Motivations</h3>
          <p>We were curious, curious as to how it is possible to access a users devices (camera, audio), on the browser, with permission of course</p>
          <p>How the communications where handled, how the data was transferred between the connected peers.</p>
          <p>Learning about these technologies was a wonderful experience, And what we haved accomplished so far with the project, as improved our Knowledge of these concepts and technologies a little</p>

          <p ><em>Curiousity didn't kill the cat here</em></p>
        </section>

        <section class="dev_about">
          <h2 class="about_eng">About the Software Engineers</h2>

          <section class="engineers">
            <article>
              <img src="/static/images/ifeanyichukwu.jpeg" alt="Ifeanyichukuw">
              <div class="info">
                <p class="name">Ifeanyichukwu Ifeanyichukwu</p>
                <p class="specialization">Specialization: Backend Engineer</p>
                <div class="socials">
                  <a target="_blank" href="mailto:ifeanyichukwuhillary2019@gmail.com">
                    <img src="/static/images/gmail-logo.png" class="icon" alt="gmail logo">
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/in/ifeanyichukwu-ifeanyichukwu/" >
                    <img src="/static/images/linkedin.png" class="icon" alt="linkedIn">
                  </a>
                  <a target="_blank" href="https://twitter.com/ifeanyiih" >
                    <img src="/static/images/twitter.png" class="icon" alt="twitter">
                  </a>
                  <a target="_blank" href="https://github.com/ifeanyiih" >
                    <img src="/static/images/github.png" class="icon" alt="github">
                  </a>
                </div>
              </div>
            </article>
            <article>
              <img src="/static/images/martins.jpeg" alt="Martins">
              <div class="info">
                <p class="name">Ndifon Martins</p>
                <p class="specialization">Specialization: Backend Engineer</p>
                <div class="socials">
                  <a target="_blank" href="mailto:martinsndifon@gmail.com">
                    <img src="/static/images/gmail-logo.png" class="icon" alt="gmail logo">
                  </a>
                  <a target="_blank" href="http://linkedin.com/in/martinsndifon" >
                    <img src="/static/images/linkedin.png" class="icon" alt="linkedIn">
                  </a>
                  <a target="_blank" href="http://twitter.com/martins_ndifon" >
                    <img src="/static/images/twitter.png" class="icon" alt="twitter">
                  </a>
                  <a target="_blank" href="https://github.com/martinsndifon" >
                    <img src="/static/images/github.png" class="icon" alt="github">
                  </a>
                </div>
              </div>
            </article>
            <article>
              <img src="/static/images/james.jpeg" alt="James">
              <div class="info">
                <p class="name">James Chiedozie</p>
                <p class="specialization">Specialization: FrontEnd Engineer</p>
                <div class="socials">
                  <a href="mailto:Chiedozie013@gmail.com">
                    <img src="/static/images/gmail-logo.png" class="icon" alt="gmail logo">
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/in/chiedozie013">
                    <img src="/static/images/linkedin.png" class="icon" alt="linkedIn">
                  </a>
                  <a target="_blank" href="https://twitter.com/edoziey">
                    <img src="/static/images/twitter.png" class="icon" alt="twitter">
                  </a>
                  <a target="_blank" href="https://github.com/chiedozie013">
                    <img src="/static/images/github.png" class="icon" alt="github">
                  </a>
                </div>
              </div>
            </article>
          </section>

        </section>
      </div>
    </main>

    </div>
    <script type="module" src="./js/script.js"></script>
  </body>
</html>
