<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sync Vision</title>
    <script src="../static/scripts/index.js"></script>
  </head>
  <body>
    <p>Welcome to Sync version!</p>
    <br />
    <button id="new-meeting"></button>
    <div>
      <input
        type="text"
        id="meeting-link-box"
        placeholder="Enter Meeting ID or link"
      />
      <button id="join-meeting"></button>
    </div>
  </body>
</html>
