.material-symbols-outlined {
  color: #fff;
}

main {
  display: flex;
  height: 70%;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.main-frame {
  display: flex;
  gap: 5px;
  padding: 5px;
  height: 100%;
  width: 100%;
}

#local-video {
  width: 40%;
  height: auto;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
  z-index: 2;
}

#remote-videos {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  z-index: 3;
}

.remote-video {
  max-width: calc(100% / 3 - 10px);
  max-height: calc(100% / 2 - 10px);
  border-radius: 5px;
}
/*Chat section*/

.chat-section {
  position: fixed;
  top: 1%;
  width: 300px;
  height: 80%;
  background-color: #fff;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 0;
  transform: translateX(200%);
  padding: 0;
}

.chat-section .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #960aee;
  color: #fff;
}

.chat-section #chat-messages {
  padding: 10px;
  overflow-y: auto;
  height: calc(100% - 100px);
}

.chat-section .chat-input {
  display: flex;
  padding: 3px;
}

.chat-input input {
  padding: 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin: 0;
  width: 300px;
}

.chat-input button {
  background-color: #960aee;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}

.message-header {
  margin-bottom: 0;
  color: #960aee;
  font-size: x-small;
}
.message {
  margin-top: 0;
  margin-bottom: 15px;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.close-button.close-button-info {
  color: #000;
}

.control-container {
  background-color: #960aee;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#leave-btn {
  background-color: #ed2939;
  border-radius: 20%;
}

#leave-btn span {
  width: 30px;
}

.control-container span {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

/*Info section*/
.info-section.show {
  position: fixed;
  bottom: 10%;
  width: 300px;
  height: 28%;
  background-color: #fff;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 20px;
  transform: translateY(0%);
  padding: 10px;
}

.info-section.hide {
  position: fixed;
  bottom: 10%;
  width: 300px;
  height: 28%;
  background-color: #fff;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 20px;
  transform: translateY(200%);
  padding: 10px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 0;
}

.information {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.copy-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #960aee;
  border-radius: 3px;
  margin: 20px 0;
}

.copy-main .copy-text {
  font-size: x-small;
  color: #fff;
}

.copy-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.info-button {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  right: 40px;
  cursor: pointer;
  color: #960aee;
}

/* Flash message section*/
.flash-message {
  position: fixed;
  bottom: 20px;
  left: 15%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 50;
}

.flash-message.show {
  opacity: 1;
}

@media (max-width: 750px) {
  main {
    width: 90%;
  }
  #local-video {
    width: 60%;
  }

  .flash-message {
    bottom: 80px;
    left: 50%;
  }
}
