video {
  width: 100%;
  /* border-radius: 4px; */
}

.video {
  margin-bottom: 1rem;
  /* border: 1px solid #960aee; */
}

button {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.material-symbols-outlined {
  color: #fff;
}

.controls button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  padding: 1rem;
  background-color: #960aee;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

/* User info Section*/
.user_info {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.no_visible {
  visibility: hidden;
  position: absolute;
}

.name_input {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #960aee;
  margin-bottom: 1rem;
}

.active {
  color: #fff;
  background-color: #960aee;
  padding: 1rem 1.3rem;
  font-size: 1.3rem;
}

.inactive {
  padding: 1rem 1.3rem;
  font-size: 1.3rem;
}


footer {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

footer a {
  color: #960aee;
}


@media (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  video {
    /* width: 640px; */
    height: 480px;
  }
}